@import "helpers";

html, body, #root, .app {
  min-height: 100vh;
  max-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 40px;
}

.header {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #0091da;
  color: #fff;
  font-weight: bold;
}

.button {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .4);
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &._150 {
    max-width: 150px;
  }
}

.main {
  padding: 20px;
  overflow: auto;

  &-page-select {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.post {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &-title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &-body {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
  &-image {
    max-width: 300px;
    margin: 16px 0;
    height: 100%;

    &._1 {
      max-width: 450px;
    }
    &._2 {
      max-width: 550px;
    }
    &._3 {
      max-width: 650px;
    }
  }

  &-text {
    margin: 16px 0;
  }
}

.scroll-title {
  cursor: pointer;
  font-size: 0.8rem;
  color: #0091da;
  font-weight: 700;
  margin: 6px 10px 6px 0;
  border: 1px solid rgba(0,0,0, .1);
  padding: 4px 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  background: #0091da;
  color: #fff;
  font-weight: bold;
}
